{% extends 'base.html.twig' %}

{% block title %}Edit Empresas{% endblock %}

{% block body %}
    <h1>Edit Empresas</h1>

    {{ include('empresas/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('empresas_index') }}"><button type="button" class="btn btn-light">Volver Atrás</button></a>

    {{ include('empresas/_delete_form.html.twig') }}
{% endblock %}
