{% extends 'base.html.twig' %}

{% block title %}New Empresas{% endblock %}

{% block body %}
    <h1>Crear Nueva Empresa</h1>

    {{ include('empresas/_form.html.twig') }}

    <a href="{{ path('empresas_index') }}"><button type="button" class="btn btn-light">Volver Atrás</button>
    </a>
{% endblock %}
